name: nightly

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '18 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.x'
      - run: |
          pwd
          sudo apt install libseccomp-dev -y

          go install github.com/kevinburke/go-bindata
          git clone https://github.com/genuinetools/img.git

          pushd img
          make build
          git clean -xdn .
      # - uses: actions/upload-artifact@v3
      #   with:
      #     name: artifact
      #     path: |
      #       foobar

